@media (max-width: 908px) {
  .container {
    width: 100%;
  }
  .image {
    width: 120%;
    left: -10%;
  }
  .play-area {
    width: 30%;
  }
}

@media (max-width: 700px) {
  body {
    width: 100%;
  }
  .container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .image {
    height: 50%;
  }

  .left {
    width: 100%;
    border-radius: 0;
  }

  .right {
    width: 100%;

    border-radius: 0;
  }

  .play-area {
    width: 40%;
  }

  .right-header {
    top: 5%;
  }

  .line3 {
    height: 0.3px;
  }

  .song-list {
    margin-top: 10px;
  }
}
